{% macro recaptcha(class) %}
    <div
        class="{{ class }}"
        data-badge="inline"
        data-callback="formSubmit"
        data-sitekey="6LedTakUAAAAADB9YnXJGrHYFeUff2A-iN2pxezq"
        data-size="invisible">
    </div>
{% endmacro %}