{% macro recaptcha() %}
    <div
        class="g-recaptcha"
        data-callback="formSubmit"
        data-sitekey="6LedTakUAAAAADB9YnXJGrHYFeUff2A-iN2pxezq"
        data-size="invisible">
    </div>
{% endmacro %}