{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} Editer une tâche{% endblock %}

{% block body %}
    <div class="row flex-column mx-0">
        <div class="col-lg-5 mx-auto">
            {% include 'form/_task_form.html.twig' with {'taskPage': 'edit'} %}
        </div>
        <div class="mt-4">
            <a href="{{ path('tdl_task_list', {'status' : (task.isDone) ? 'finish' : 'current'}) }}" class="btn btn-primary">Retour à la liste des tâches</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {{ encore_entry_script_tags('manage_task') }}
{% endblock %}